* {
    font-family: sans-serif, "Times New Roman", Times;
    text-align: center;
    box-sizing: border-box;
}

.topic {
    color:green;
    background-color: azure;
    height: 300px;
    font-size: 100px;
    padding: 50px;
    align-content: center;
 }

.list-of-recipes {
    font-size:40px;
    font-weight: bold;
    margin: 50px;
    
    text-align: left;
}

.recipe-name {
    font-size:30px;
    font-weight: 100;
    padding-top: 30px;
    text-align: left;
}
.describe-food {
    background-color: rgb(127, 127, 255);
}   

.ingredients ,.ingredients li {
    text-align:left;
}

.steps ,.steps li  {
    text-align:left;
}

.ingredients {
    background-color: skyblue;
}

.steps{
    background-color: burlywood;
}